{
  "openapi": "3.0.1",
  "info": {
    "title": "ConsumerDataStandards",
    "description": "API sets created by the Australian Consumer Data Standards to meet the needs of the Consumer Data Right. <br/><br/>Useful links:<ul><li><a href=\"https://uatopenbank.newcastlepermanent.com.au/.well-known/openid-configuration\">OIDC Discovery Document</a></li></ul>",
    "contact": {
      "name": "Consumer Data Standards",
      "url": "https://consumerdatastandards.gov.au/",
      "email": "cdr-data61@csiro.au"
    },
    "license": {
      "name": "MIT License",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "1.36.0"
  },
  "servers": [
    {
      "url": "https://openbank-secure.newcastlepermanent.com.au/cds-au/v1"
    }
  ],
  "paths": {
    "/banking/accounts": {
      "get": {
        "tags": [
          "Banking",
          "Accounts"
        ],
        "summary": "Get Accounts",
        "description": "Obtain a list of accounts",
        "operationId": "listAccounts",
        "parameters": [
          {
            "name": "product-category",
            "in": "query",
            "description": "Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.",
            "schema": {
              "type": "string",
              "enum": [
                "TRANS_AND_SAVINGS_ACCOUNTS",
                "TERM_DEPOSITS",
                "TRAVEL_CARDS",
                "REGULATED_TRUST_ACCOUNTS",
                "RESIDENTIAL_MORTGAGES",
                "CRED_AND_CHRG_CARDS",
                "PERS_LOANS",
                "MARGIN_LOANS",
                "LEASES",
                "TRADE_FINANCE",
                "OVERDRAFTS",
                "BUSINESS_LOANS"
              ]
            }
          },
          {
            "name": "open-status",
            "in": "query",
            "description": "Used to filter results according to open/closed status. Values can be OPEN, CLOSED or ALL. If absent then ALL is assumed",
            "schema": {
              "type": "string",
              "default": "ALL",
              "enum": [
                "OPEN",
                "CLOSED",
                "ALL"
              ]
            }
          },
          {
            "name": "is-owned",
            "in": "query",
            "description": "Filters accounts based on whether they are owned by the authorised customer.  True for owned accounts, false for unowned accounts and absent for all accounts",
            "schema": {
              "type": "boolean",
              "x-cds-type": "Boolean"
            },
            "x-cds-type": "Boolean"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to request (standard pagination)",
            "schema": {
              "type": "integer",
              "default": 1,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "page-size",
            "in": "query",
            "description": "Page size to request. Default is 25 (standard pagination)",
            "schema": {
              "type": "integer",
              "default": 25,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ). If the value of [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) is equal to or higher than the value of [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) then the [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) header should be treated as absent. If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable. See [HTTP Headers](https://consumerdatastandardsaustralia.github.io/standards/#http-headers )",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ). If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](https://consumerdatastandardsaustralia.github.io/standards/#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "schema": {
              "pattern": "^([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{2}==)?$",
              "type": "string",
              "x-cds-type": "Base64"
            },
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) of the API end point that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingAccountList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "PSUOAuth2Security": [
              "bank:accounts.basic:read"
            ]
          },
          {
            "default": [
              "bank:accounts.basic:read"
            ]
          }
        ],
        "x-version": "1",
        "x-auth-type": "Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/banking/accounts/balances": {
      "get": {
        "tags": [
          "Banking",
          "Accounts"
        ],
        "summary": "Get Bulk Balances",
        "description": "Obtain balances for multiple, filtered accounts",
        "operationId": "listBalancesBulk",
        "parameters": [
          {
            "name": "product-category",
            "in": "query",
            "description": "Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.",
            "schema": {
              "type": "string",
              "enum": [
                "TRANS_AND_SAVINGS_ACCOUNTS",
                "TERM_DEPOSITS",
                "TRAVEL_CARDS",
                "REGULATED_TRUST_ACCOUNTS",
                "RESIDENTIAL_MORTGAGES",
                "CRED_AND_CHRG_CARDS",
                "PERS_LOANS",
                "MARGIN_LOANS",
                "LEASES",
                "TRADE_FINANCE",
                "OVERDRAFTS",
                "BUSINESS_LOANS"
              ]
            }
          },
          {
            "name": "open-status",
            "in": "query",
            "description": "Used to filter results according to open/closed status. Values can be OPEN, CLOSED or ALL. If absent then ALL is assumed",
            "schema": {
              "type": "string",
              "default": "ALL",
              "enum": [
                "OPEN",
                "CLOSED",
                "ALL"
              ]
            }
          },
          {
            "name": "is-owned",
            "in": "query",
            "description": "Filters accounts based on whether they are owned by the authorised customer.  True for owned accounts, false for unowned accounts and absent for all accounts",
            "schema": {
              "type": "boolean",
              "x-cds-type": "Boolean"
            },
            "x-cds-type": "Boolean"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to request (standard pagination)",
            "schema": {
              "type": "integer",
              "default": 1,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "page-size",
            "in": "query",
            "description": "Page size to request. Default is 25 (standard pagination)",
            "schema": {
              "type": "integer",
              "default": 25,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ). If the value of [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) is equal to or higher than the value of [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) then the [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) header should be treated as absent. If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable. See [HTTP Headers](https://consumerdatastandardsaustralia.github.io/standards/#http-headers )",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ). If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](https://consumerdatastandardsaustralia.github.io/standards/#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "schema": {
              "pattern": "^([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{2}==)?$",
              "type": "string",
              "x-cds-type": "Base64"
            },
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) of the API end point that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingAccountsBalanceList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "PSUOAuth2Security": [
              "bank:accounts.basic:read"
            ]
          },
          {
            "default": [
              "bank:accounts.basic:read"
            ]
          }
        ],
        "x-version": "1",
        "x-auth-type": "Application User",
        "x-throttling-tier": "Unlimited"
      },
      "post": {
        "tags": [
          "Banking",
          "Accounts"
        ],
        "summary": "Get Balances For Specific Accounts",
        "description": "Obtain balances for a specified list of accounts",
        "operationId": "listBalancesSpecificAccounts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to request (standard pagination)",
            "schema": {
              "type": "integer",
              "default": 1,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "page-size",
            "in": "query",
            "description": "Page size to request. Default is 25 (standard pagination)",
            "schema": {
              "type": "integer",
              "default": 25,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ). If the value of [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) is equal to or higher than the value of [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) then the [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) header should be treated as absent. If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable. See [HTTP Headers](https://consumerdatastandardsaustralia.github.io/standards/#http-headers )",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ). If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](https://consumerdatastandardsaustralia.github.io/standards/#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "schema": {
              "pattern": "^([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{2}==)?$",
              "type": "string",
              "x-cds-type": "Base64"
            },
            "x-cds-type": "Base64"
          }
        ],
        "requestBody": {
          "description": "The list of account IDs to obtain balances for",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAccountIds"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) of the API end point that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingAccountsBalanceList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "PSUOAuth2Security": [
              "bank:accounts.basic:read"
            ]
          },
          {
            "default": [
              "bank:accounts.basic:read"
            ]
          }
        ],
        "x-version": "1",
        "x-auth-type": "Application User",
        "x-throttling-tier": "Unlimited",
        "x-codegen-request-body-name": "accountIds"
      }
    },
    "/banking/accounts/{accountId}/balance": {
      "get": {
        "tags": [
          "Banking",
          "Accounts"
        ],
        "summary": "Get Account Balance",
        "description": "Obtain the balance for a single specified account",
        "operationId": "getBalance",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the specific account requested",
            "required": true,
            "schema": {
              "type": "string",
              "x-cds-type": "ASCIIString"
            },
            "x-cds-type": "ASCIIString"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ). If the value of [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) is equal to or higher than the value of [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) then the [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) header should be treated as absent. If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable. See [HTTP Headers](https://consumerdatastandardsaustralia.github.io/standards/#http-headers )",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ). If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable.",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](https://consumerdatastandardsaustralia.github.io/standards/#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "schema": {
              "pattern": "^([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{2}==)?$",
              "type": "string",
              "x-cds-type": "Base64"
            },
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) of the API end point that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingAccountsBalanceById"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "PSUOAuth2Security": [
              "bank:accounts.basic:read"
            ]
          },
          {
            "default": [
              "bank:accounts.basic:read"
            ]
          }
        ],
        "x-version": "1",
        "x-auth-type": "Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/banking/accounts/{accountId}": {
      "get": {
        "tags": [
          "Banking",
          "Accounts"
        ],
        "summary": "Get Account Detail",
        "description": "Obtain detailed information on a single account",
        "operationId": "getAccountDetail",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "A tokenised identifier for the account which is unique but not shareable",
            "required": true,
            "schema": {
              "type": "string",
              "x-cds-type": "ASCIIString"
            },
            "x-cds-type": "ASCIIString"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ). If the value of [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) is equal to or higher than the value of [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) then the [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) header should be treated as absent. If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable. See [HTTP Headers](https://consumerdatastandardsaustralia.github.io/standards/#http-headers )",
            "required": true,
            "schema": {
              "type": "string",
              "default": "4"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ). If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](https://consumerdatastandardsaustralia.github.io/standards/#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "schema": {
              "pattern": "^([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{2}==)?$",
              "type": "string",
              "x-cds-type": "Base64"
            },
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) of the API end point that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingAccountById"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "PSUOAuth2Security": [
              "bank:accounts.detail:read"
            ]
          },
          {
            "default": [
              "bank:accounts.detail:read"
            ]
          }
        ],
        "x-version": "4",
        "x-auth-type": "Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/banking/accounts/{accountId}/transactions": {
      "get": {
        "tags": [
          "Banking",
          "Accounts"
        ],
        "summary": "Get Transactions For Account",
        "description": "Obtain transactions for a specific account.\n\nSome general notes that apply to all end points that retrieve transactions:\n\n- Where multiple transactions are returned, transactions should be ordered according to effective date in descending order\n- As the date and time for a transaction can alter depending on status and transaction type two separate date/times are included in the payload. There are still some scenarios where neither of these time stamps is available. For the purpose of filtering and ordering it is expected that the data holder will use the date/time which will be defined as:\n\t\t- Posted date/time if available, then\n\t\t- Execution date/time if available, then\n\t\t- A reasonable date/time nominated by the data holder using internal data structures\n- For transaction amounts it should be assumed that a negative value indicates a reduction of the available balance on the account while a positive value indicates an increase in the available balance on the account\n- For aggregated transactions (ie. groups of sub transactions reported as a single entry for the account) only the aggregated information, with as much consistent information accross the subsidiary transactions as possible, is required to be shared",
        "operationId": "getTransactions",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the account to get transactions for.  Must have previously been returned by one of the account list end points.",
            "required": true,
            "schema": {
              "type": "string",
              "x-cds-type": "ASCIIString"
            },
            "x-cds-type": "ASCIIString"
          },
          {
            "name": "oldest-time",
            "in": "query",
            "description": "Constrain the transaction history request to transactions with effective time at or after this date/time. If absent defaults to newest-time minus 90 days.  Format is aligned to DateTimeString common type",
            "schema": {
              "type": "string",
              "x-cds-type": "DateTimeString"
            },
            "x-cds-type": "DateTimeString"
          },
          {
            "name": "newest-time",
            "in": "query",
            "description": "Constrain the transaction history request to transactions with effective time at or before this date/time.  If absent defaults to today.  Format is aligned to DateTimeString common type",
            "schema": {
              "type": "string",
              "x-cds-type": "DateTimeString"
            },
            "x-cds-type": "DateTimeString"
          },
          {
            "name": "min-amount",
            "in": "query",
            "description": "Filter transactions to only transactions with amounts higher or equal to than this amount",
            "schema": {
              "type": "string",
              "x-cds-type": "AmountString"
            },
            "x-cds-type": "AmountString"
          },
          {
            "name": "max-amount",
            "in": "query",
            "description": "Filter transactions to only transactions with amounts less than or equal to than this amount",
            "schema": {
              "type": "string",
              "x-cds-type": "AmountString"
            },
            "x-cds-type": "AmountString"
          },
          {
            "name": "text",
            "in": "query",
            "description": "Filter transactions to only transactions where this string value is found as a substring of either the reference or description fields. Format is arbitrary ASCII string. This parameter is optionally implemented by data holders. If it is not implemented then a response should be provided as normal without text filtering applied and an additional boolean field named isQueryParamUnsupported should be included in the meta object and set to true (whether the text parameter is supplied or not)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to request (standard pagination)",
            "schema": {
              "type": "integer",
              "default": 1,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "page-size",
            "in": "query",
            "description": "Page size to request. Default is 25 (standard pagination)",
            "schema": {
              "type": "integer",
              "default": 25,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ). If the value of [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) is equal to or higher than the value of [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) then the [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) header should be treated as absent. If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable. See [HTTP Headers](https://consumerdatastandardsaustralia.github.io/standards/#http-headers )",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ). If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](https://consumerdatastandardsaustralia.github.io/standards/#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "schema": {
              "pattern": "^([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{2}==)?$",
              "type": "string",
              "x-cds-type": "Base64"
            },
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) of the API end point that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingTransactionList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "PSUOAuth2Security": [
              "bank:transactions:read"
            ]
          },
          {
            "default": [
              "bank:transactions:read"
            ]
          }
        ],
        "x-version": "1",
        "x-auth-type": "Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/banking/accounts/{accountId}/transactions/{transactionId}": {
      "get": {
        "tags": [
          "Banking",
          "Accounts"
        ],
        "summary": "Get Transaction Detail",
        "description": "Obtain detailed information on a transaction for a specific account",
        "operationId": "getTransactionDetail",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the account to get transactions for.  Must have previously been returned by one of the account list end points",
            "required": true,
            "schema": {
              "type": "string",
              "x-cds-type": "ASCIIString"
            },
            "x-cds-type": "ASCIIString"
          },
          {
            "name": "transactionId",
            "in": "path",
            "description": "ID of the transaction obtained from a previous call to one of the other transaction end points",
            "required": true,
            "schema": {
              "type": "string",
              "x-cds-type": "ASCIIString"
            },
            "x-cds-type": "ASCIIString"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ). If the value of [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) is equal to or higher than the value of [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) then the [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) header should be treated as absent. If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable. See [HTTP Headers](https://consumerdatastandardsaustralia.github.io/standards/#http-headers )",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ). If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](https://consumerdatastandardsaustralia.github.io/standards/#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "schema": {
              "pattern": "^([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{2}==)?$",
              "type": "string",
              "x-cds-type": "Base64"
            },
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) of the API end point that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                      {
                        "$ref": "#/components/schemas/ResponseBankingTransactionByIdV2"
                      },
                      {
                        "$ref": "#/components/schemas/ResponseBankingTransactionById"
                      }
                    ]

                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "PSUOAuth2Security": [
              "bank:transactions:read"
            ]
          },
          {
            "default": [
              "bank:transactions:read"
            ]
          }
        ],
        "x-version": "1",
        "x-auth-type": "Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/banking/accounts/{accountId}/direct-debits": {
      "get": {
        "tags": [
          "Banking",
          "Direct Debits"
        ],
        "summary": "Get Direct Debits For Account",
        "description": "Obtain direct debit authorisations for a specific account",
        "operationId": "listDirectDebits",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the account to get direct debit authorisations for.  Must have previously been returned by one of the account list end points.",
            "required": true,
            "schema": {
              "type": "string",
              "x-cds-type": "ASCIIString"
            },
            "x-cds-type": "ASCIIString"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to request (standard pagination)",
            "schema": {
              "type": "integer",
              "default": 1,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "page-size",
            "in": "query",
            "description": "Page size to request. Default is 25 (standard pagination)",
            "schema": {
              "type": "integer",
              "default": 25,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ). If the value of [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) is equal to or higher than the value of [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) then the [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) header should be treated as absent. If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable. See [HTTP Headers](https://consumerdatastandardsaustralia.github.io/standards/#http-headers )",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers ). If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](https://consumerdatastandardsaustralia.github.io/standards/#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "schema": {
              "pattern": "^([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{2}==)?$",
              "type": "string",
              "x-cds-type": "Base64"
            },
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) of the API end point that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingDirectDebitAuthorisationList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "PSUOAuth2Security": [
              "bank:regular_payments:read"
            ]
          },
          {
            "default": [
              "bank:regular_payments:read"
            ]
          }
        ],
        "x-version": "1",
        "x-auth-type": "Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/banking/accounts/direct-debits": {
      "get": {
        "tags": [
          "Banking",
          "Direct Debits"
        ],
        "summary": "Get Bulk Direct Debits",
        "description": "Obtain direct debit authorisations for multiple, filtered accounts",
        "operationId": "listDirectDebitsBulk",
        "parameters": [
          {
            "name": "product-category",
            "in": "query",
            "description": "Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all accounts returned.",
            "schema": {
              "type": "string",
              "enum": [
                "TRANS_AND_SAVINGS_ACCOUNTS",
                "TERM_DEPOSITS",
                "TRAVEL_CARDS",
                "REGULATED_TRUST_ACCOUNTS",
                "RESIDENTIAL_MORTGAGES",
                "CRED_AND_CHRG_CARDS",
                "PERS_LOANS",
                "MARGIN_LOANS",
                "LEASES",
                "TRADE_FINANCE",
                "OVERDRAFTS",
                "BUSINESS_LOANS"
              ]
            }
          },
          {
            "name": "open-status",
            "in": "query",
            "description": "Used to filter results according to open/closed status. Values can be OPEN, CLOSED or ALL. If absent then ALL is assumed",
            "schema": {
              "type": "string",
              "default": "ALL",
              "enum": [
                "OPEN",
                "CLOSED",
                "ALL"
              ]
            }
          },
          {
            "name": "is-owned",
            "in": "query",
            "description": "Filters accounts based on whether they are owned by the authorised customer.  True for owned accounts, false for unowned accounts and absent for all accounts",
            "schema": {
              "type": "boolean",
              "x-cds-type": "Boolean"
            },
            "x-cds-type": "Boolean"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to request (standard pagination)",
            "schema": {
              "type": "integer",
              "default": 1,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "page-size",
            "in": "query",
            "description": "Page size to request. Default is 25 (standard pagination)",
            "schema": {
              "type": "integer",
              "default": 25,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers). If the value of [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) is equal to or higher than the value of [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) then the [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) header should be treated as absent. If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable. See [HTTP Headers](https://consumerdatastandardsaustralia.github.io/standards/#http-headers)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers). If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](https://consumerdatastandardsaustralia.github.io/standards/#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "schema": {
              "pattern": "^([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{2}==)?$",
              "type": "string",
              "x-cds-type": "Base64"
            },
            "x-cds-type": "Base64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) of the API end point that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingDirectDebitAuthorisationList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "PSUOAuth2Security": [
              "bank:regular_payments:read"
            ]
          },
          {
            "default": [
              "bank:regular_payments:read"
            ]
          }
        ],
        "x-version": "1",
        "x-auth-type": "Application User",
        "x-throttling-tier": "Unlimited"
      },
      "post": {
        "tags": [
          "Banking",
          "Direct Debits"
        ],
        "summary": "Get Direct Debits For Specific Accounts",
        "description": "Obtain direct debit authorisations for a specified list of accounts",
        "operationId": "listDirectDebitsSpecificAccounts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to request (standard pagination)",
            "schema": {
              "type": "integer",
              "default": 1,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "page-size",
            "in": "query",
            "description": "Page size to request. Default is 25 (standard pagination)",
            "schema": {
              "type": "integer",
              "default": 25,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers). If the value of [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) is equal to or higher than the value of [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) then the [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) header should be treated as absent. If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable. See [HTTP Headers](https://consumerdatastandardsaustralia.github.io/standards/#http-headers)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#http-headers). If all versions requested are not supported then the data holder should respond with a 406 Not Acceptable.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-fapi-auth-date",
            "in": "header",
            "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-cds-client-headers",
            "in": "header",
            "description": "The customer's original standard http headers [Base64](https://consumerdatastandardsaustralia.github.io/standards/#common-field-types) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
            "schema": {
              "pattern": "^([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{2}==)?$",
              "type": "string",
              "x-cds-type": "Base64"
            },
            "x-cds-type": "Base64"
          }
        ],
        "requestBody": {
          "description": "Array of specific accountIds to obtain authorisations for",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestAccountIds"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](https://consumerdatastandardsaustralia.github.io/standards/#http-headers) of the API end point that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              },
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingDirectDebitAuthorisationList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {
              "x-fapi-interaction-id": {
                "description": "An [RFC4122](https://tools.ietf.org/html/rfc4122) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "PSUOAuth2Security": [
              "bank:regular_payments:read"
            ]
          },
          {
            "default": [
              "bank:regular_payments:read"
            ]
          }
        ],
        "x-version": "1",
        "x-auth-type": "Application User",
        "x-throttling-tier": "Unlimited",
        "x-codegen-request-body-name": "accountIds"
      }
    },
    "/banking/accounts/{accountId}/payments/scheduled": {
      "get": {
        "tags": [
          "Banking",
          "Scheduled Payments"
        ],
        "summary": "Get Scheduled Payments for Account",
        "description": "Obtain scheduled, outgoing payments for a specific account",
        "operationId": "listScheduledPayments",
        "parameters": [
          {
            "name": "accountId",
[...]
