{
  "openapi": "3.0.1",
  "info": {
    "title": "Consumer Data Standards",
    "description": "API sets created by the Australian Consumer Data Standards to meet the needs of the Consumer Data Right",
    "contact": {
      "name": "Consumer Data Standards",
      "url": "https://urldefense.com/v3/__https://consumerdatastandards.gov.au/__;!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAOkXrlvJ$",
      "email": "cdr-data61@csiro.au"
    },
    "license": {
      "name": "MIT License",
      "url": "https://urldefense.com/v3/__https://opensource.org/licenses/MIT__;!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAKW_SetX$"
    },
    "version": "1.36.0"
  },
  "servers": [
    {
      "url": "https://openbank.newcastlepermanent.com.au/cds-au/v1"
    }
  ],
  "paths": {
    "/banking/products": {
      "get": {
        "tags": [
          "Banking"
        ],
        "summary": "Get Products",
        "description": "Obtain a list of products that are currently openly offered to the market\n\nNote that the results returned by this end point are expected to be ordered according to updated-since\n\n### Conventions\nIn the product reference payloads there are a number of recurring conventions that are explained here, in one place.\n\n#### Arrays Of Features\n\nIn the product detail payload there are a number of arrays articulating generic features, constraints, prices, etc. The intent of these arrays is as follows:\n\n- Each element in an array has the same structure so that clients can reliably interpret the payloads\n- Each element as a type element that is an enumeration of the specific aspect of a product being described, such as types of fees.\n- Each element has a field name [additionalValue](https://consumerdatastandardsaustralia.github.io/standards/#productfeaturetypedoc).  This is a generic field with contents that will vary based on the type of object being described. The contents of this field for the ADDITIONAL_CARDS feature is the number of cards allowed while the contents of this field for the MAX_LIMIT constraint would be the maximum credit limit allowed for the product.\n- An element in these arrays of the same type may appear more than once. For instance, a product may offer two separate loyalty programs that the customer can select from. A fixed term mortgage may have different rates for different term lengths.\n- An element in these arrays may contain an additionalInfo and additionalInfoUri field. The additionalInfo field is used to provide displayable text clarifying the purpose of the element in some way when the product is presented to a customer. The additionalInfoUri provides a link to externally hosted information specifically relevant to that feature of the product.\n- Depending on the type of data being represented there may be additional specific fields.\n\n#### URIs To More Information\n\nAs the complexities and nuances of a financial product can not easily be fully expressed in a data structure without a high degree of complexity it is necessary to provide additional reference information that a potential customer can access so that they are fully informed of the features and implications of the product. The payloads for product reference therefore contain numerous fields that are provided to allow the product holder to describe the product more fully using a web page hosted on their online channels.\n\nThese URIs do not need to all link to different pages. If desired, they can all link to a single hosted page and use difference HTML anchors to focus on a specific topic such as eligibility or fees.\n\n#### Linkage To Accounts\nFrom the moment that a customer applies for a product and an account is created the account and the product that spawned it will diverge.  Rates and features of the product may change and a discount may be negotiated for the account.\n\nFor this reason, while productCategory is a common field between accounts and products, there is no specific ID that can be used to link an account to a product within the regime.\n\nSimilarly, many of the fields and objects in the product payload will appear in the account detail payload but the structures and semantics are not identical as one refers to a product that can potentially be originated and one refers to an account that actual has been instantiated and created along with the associated decisions inherent in that process.\n\n#### Dates\nIt is expected that data consumers needing this data will call relatively frequently to ensure the data they have is representative of the current offering from a bank.  To minimise the volume and frequency of these calls the ability to set a lastUpdated field with the date and time of the last update to this product is included.  A call for a list of products can then be filtered to only return products that have been updated since the last time that data was obtained using the updated-since query parameter.\n\nIn addition, the concept of effective date and time has also been included.  This allows for a product to be marked for obsolescence, or introduction, from a certain time without the need for an update to show that a product has been changed.  The inclusion of these dates also removes the need to represent deleted products in the payload.  Products that are no long offered can be marked not effective for a few weeks before they are then removed from the product set as an option entirely.\n\nNOTE: This version must be implemented by **July 2026**\n\nObsolete versions: [v1](https://consumerdatastandardsaustralia.github.io/standards/includes/obsolete/get-products-v1.html) [v2](https://consumerdatastandardsaustralia.github.io/standards/includes/obsolete/get-products-v2.html),[v3](https://consumerdatastandardsaustralia.github.io/standards/includes/obsolete/get-products-v3.html)",
        "operationId": "listProducts",
        "parameters": [
          {
            "name": "effective",
            "in": "query",
            "description": "Allows for the filtering of products based on whether the current time is within the period of time defined as effective by the effectiveFrom and effectiveTo fields. Valid values are 'CURRENT', 'FUTURE' and 'ALL'. If absent defaults to 'CURRENT'",
            "schema": {
              "type": "string",
              "default": "CURRENT",
              "enum": [
                "CURRENT",
                "FUTURE",
                "ALL"
              ]
            }
          },
          {
            "name": "updated-since",
            "in": "query",
            "description": "Only include products that have been updated after the specified date and time. If absent defaults to include all products",
            "schema": {
              "type": "string",
              "x-cds-type": "DateTimeString"
            },
            "x-cds-type": "DateTimeString"
          },
          {
            "name": "brand",
            "in": "query",
            "description": "Filter results based on a specific brand",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product-category",
            "in": "query",
            "description": "Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all products returned.",
            "schema": {
              "type": "string",
              "enum": [
                "TRANS_AND_SAVINGS_ACCOUNTS",
                "TERM_DEPOSITS",
                "TRAVEL_CARDS",
                "REGULATED_TRUST_ACCOUNTS",
                "RESIDENTIAL_MORTGAGES",
                "CRED_AND_CHRG_CARDS",
                "PERS_LOANS",
                "MARGIN_LOANS",
                "LEASES",
                "TRADE_FINANCE",
                "BUY_NOW_PAY_LATER",
                "OVERDRAFTS",
                "BUSINESS_LOANS"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to request (standard pagination)",
            "schema": {
              "type": "integer",
              "default": 1,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "page-size",
            "in": "query",
            "description": "Page size to request. Default is 25 (standard pagination)",
            "schema": {
              "type": "integer",
              "default": 25,
              "x-cds-type": "PositiveInteger"
            },
            "x-cds-type": "PositiveInteger"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*request-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAEaeBCoC$ ) and [x-v](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*request-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAEaeBCoC$ ). If the value of [x-min-v](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*request-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAEaeBCoC$ ) is equal to or higher than the value of [x-v](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*request-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAEaeBCoC$ ) then the [x-min-v](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*request-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAEaeBCoC$ ) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*request-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAEaeBCoC$ )",
            "required": true,
            "schema": {
              "type": "string",
              "default": "5"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*request-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAEaeBCoC$ ) and [x-v](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*request-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAEaeBCoC$ ). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*response-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAM6QvIGb$ ) of the API end point that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingProductList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          }
        },
        "x-version": "5"
      }
    },
    "/banking/products/{productId}": {
      "get": {
        "tags": [
          "Banking"
        ],
        "summary": "Get Product Detail",
        "description": "Obtain detailed information on a single product offered openly to the market.\n\nNOTE: This version must be implemented by **July 2026**\n\nObsolete versions: [v1](https://consumerdatastandardsaustralia.github.io/standards/includes/obsolete/get-product-detail-v1.html) [v2](https://consumerdatastandardsaustralia.github.io/standards/includes/obsolete/get-product-detail-v2.html) [v3](https://consumerdatastandardsaustralia.github.io/standards/includes/obsolete/get-products-v3.html),[v4](https://consumerdatastandardsaustralia.github.io/standards/includes/obsolete/get-products-v4.html),[v5](https://consumerdatastandardsaustralia.github.io/standards/includes/obsolete/get-products-v5.html)",
        "operationId": "getProductDetail",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "ID of the specific product requested",
            "required": true,
            "schema": {
              "type": "string",
              "x-cds-type": "ASCIIString"
            },
            "x-cds-type": "ASCIIString"
          },
          {
            "name": "x-v",
            "in": "header",
            "description": "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#request-headers) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#request-headers). If the value of [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#request-headers) is equal to or higher than the value of [x-v](https://consumerdatastandardsaustralia.github.io/standards/#request-headers) then the [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](https://consumerdatastandardsaustralia.github.io/standards/#request-headers)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "7"
            }
          },
          {
            "name": "x-min-v",
            "in": "header",
            "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*request-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAEaeBCoC$ ) and [x-v](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*request-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAEaeBCoC$ ). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "x-v": {
                "description": "The [version](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*response-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAM6QvIGb$ ) of the API end point that the data holder has responded with.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBankingProductById"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorList"
                }
              }
            }
          }
        },
        "x-version": "7"
      }
    }
  },
  "components": {
    "schemas": {
      "ResponseBankingProductList": {
        "required": [
          "data",
          "links",
          "meta"
        ],
        "type": "object",
        "properties": {
          "data": {
            "required": [
              "products"
            ],
            "type": "object",
            "properties": {
              "products": {
                "type": "array",
                "description": "The list of products returned.  If the filter results in an empty set then this array may have no records",
                "items": {
                  "$ref": "#/components/schemas/BankingProductV3"
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/LinksPaginated"
          },
          "meta": {
            "$ref": "#/components/schemas/MetaPaginated"
          }
        }
      },
      "BankingProductV3": {
        "required": [
          "brand",
          "description",
          "isTailored",
          "lastUpdated",
          "name",
          "productCategory",
          "productId"
        ],
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "A data holder specific unique identifier for this product. This identifier must be unique to a product but does not otherwise need to adhere to ID permanence guidelines.",
            "x-cds-type": "ASCIIString"
          },
          "effectiveFrom": {
            "type": "string",
            "description": "The date and time from which this product is effective (ie. is available for origination).  Used to enable the articulation of products to the regime before they are available for customers to originate",
            "x-cds-type": "DateTimeString"
          },
          "effectiveTo": {
            "type": "string",
            "description": "The date and time at which this product will be retired and will no longer be offered.  Used to enable the managed deprecation of products",
            "x-cds-type": "DateTimeString"
          },
          "lastUpdated": {
            "type": "string",
            "description": "The last date and time that the information for this product was changed (or the creation date for the product if it has never been altered)",
            "x-cds-type": "DateTimeString"
          },
          "productCategory": {
            "$ref": "#/components/schemas/BankingProductCategory"
          },
          "name": {
            "type": "string",
            "description": "The display name of the product"
          },
          "description": {
            "type": "string",
            "description": "A description of the product"
          },
          "brand": {
            "type": "string",
            "description": "A label of the brand for the product. Able to be used for filtering. For data holders with single brands this value is still required"
          },
          "brandName": {
            "type": "string",
            "description": "An optional display name of the brand"
          },
          "brandGroup": {
            "type": "string",
            "description": "The brandGroup of a consumer data sharing brand that the product is associated with."
          },
          "applicationUri": {
            "type": "string",
            "description": "A link to an application web page where this product can be applied for.",
            "x-cds-type": "URIString"
          },
          "isTailored": {
            "type": "boolean",
            "description": "Indicates whether the product is specifically tailored to a circumstance.  In this case fees and prices are significantly negotiated depending on context. While all products are open to a degree of tailoring this flag indicates that tailoring is expected and thus that the provision of specific fees and rates is not applicable",
            "x-cds-type": "Boolean"
          },
          "additionalInformation": {
            "type": "object",
            "description": "Object that contains links to additional information on specific topics",
            "properties": {
              "overviewUri": {
                "type": "string",
                "description": "General overview of the product",
                "x-cds-type": "URIString"
              },
              "termsUri": {
                "type": "string",
                "description": "Terms and conditions for the product",
                "x-cds-type": "URIString"
              },
              "eligibilityUri": {
                "type": "string",
                "description": "Eligibility rules and criteria for the product",
                "x-cds-type": "URIString"
              },
              "feesAndPricingUri": {
                "type": "string",
                "description": "Description of fees, pricing, discounts, exemptions and bonuses for the product",
                "x-cds-type": "URIString"
              },
              "bundleUri": {
                "type": "string",
                "description": "Description of a bundle that this product can be part of",
                "x-cds-type": "URIString"
              },
              "additionalOverviewUris": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "description": { "type": "string" },
                    "additionalInfoUri": { "type": "string", "x-cds-type": "URIString" }
                  }
                }
              },
              "additionalTermsUris": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "description": { "type": "string" },
                    "additionalInfoUri": { "type": "string", "x-cds-type": "URIString" }
                  }
                }
              },
              "additionalEligibilityUris": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "description": { "type": "string" },
                    "additionalInfoUri": { "type": "string", "x-cds-type": "URIString" }
                  }
                }
              },
              "additionalFeesAndPricingUris": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "description": { "type": "string" },
                    "additionalInfoUri": { "type": "string", "x-cds-type": "URIString" }
                  }
                }
              },
              "additionalBundleUris": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "description": { "type": "string" },
                    "additionalInfoUri": { "type": "string", "x-cds-type": "URIString" }
                  }
                }
              }
            }
          },
            "cardArt": {
              "type": "array",
              "description": "An array of card art images",
              "items": {
                "type": "object",
                "required": [
                  "imageUri",
                  "cardScheme",
                  "cardType"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Display label for the specific image"
                  },
                  "imageUri": {
                    "type": "string",
                    "description": "URI reference to a PNG, JPG or GIF image with proportions defined by ISO 7810 ID-1 and width no greater than 512 pixels. The URI reference may be a link or url-encoded data URI [RFC 2397](https://tools.ietf.org/html/rfc2397)",
                    "x-cds-type": "URIString"
                  },
                  "cardScheme": {
                    "type": "string",
                    "description": "The scheme (brand) for the card art",
                    "enum": [
                      "AMEX",
                      "EFTPOS",
                      "MASTERCARD",
                      "VISA",
                      "OTHER"
                    ]
                  },
                  "cardType": {
                    "type": "string",
                    "description": "The type of card the art represents",
                    "enum": [
                      "CHARGE",
                      "CREDIT",
                      "DEBIT"
                    ]
                  }
                }
              }
            }
        }
      },
      "ResponseBankingProductById": {
        "required": [
          "data",
          "links"
        ],
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/BankingProductDetailV3"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "BankingProductDetailV3": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BankingProductV3"
          },
          {
            "type": "object",
            "properties": {
              "bundles": {
                "type": "array",
                "description": "An array of bundles that this product participates in.  Each bundle is described by free form information but also by a list of product IDs of the other products that are included in the bundle.  It is assumed that the current product is included in the bundle also",
                "items": {
                  "$ref": "#/components/schemas/BankingProductBundle"
                }
              },
              "features": {
                "type": "array",
                "description": "Array of features available for the product",
                "items": {
                  "$ref": "#/components/schemas/BankingProductFeature"
                }
              },
              "constraints": {
                "type": "array",
                "description": "Constraints on the application for or operation of the product such as minimum balances or limit thresholds",
                "items": {
                  "anyOf": [
                      {
                        "$ref": "#/components/schemas/BankingProductConstraintV2"
                      },
                      {
                        "$ref": "#/components/schemas/BankingProductConstraint"
                      }
                    ]

                }
              },
              "eligibility": {
                "type": "array",
                "description": "Eligibility criteria for the product",
                "items": {
                  "$ref": "#/components/schemas/BankingProductEligibility"
                }
              },
              "fees": {
                "type": "array",
                "description": "Fees applicable for the product",
                "items": {
                  "$ref": "#/components/schemas/BankingProductFee"
                }
              },
              "instalments": {
                "type": "object",
                "description": "Details of instalment features on the account.",
                "properties": {
                  "maximumConcurrentPlans":{
                  "type": "number",
                  "description": "maximumConcurrentPlans ",
                  "default":0
                },
                   "instalmentsLimit":{
                  "type": "number",
                  "description": "Maximum number of concurrent active instalment plans that may be created on the account. If null, there is no predetermined maximum number",
                  "default":0
                },
                 "minimumPlanValue":{
                  "type": "number",
                  "description": "Minimum value that can be opened as an instalment plan.",
                  "default":0
                },
                "maximumPlanValue":{
                  "type": "number",
                  "description": "Maximum value that can be opened as an instalment plan. If null or not present, instalmentsLimit is assumed to be the maximum individual plan value.",
                  "default":0
                },
                  "minimumSplit":{
                  "type": "number",
                  "description": "Maximum number of instalment payments a plan can be created with.",
                  "default":4
                },
                  "maximumSplit":{
                  "type": "number",
                  "description": "4",
                  "default":4
                }
                }
              },

              "depositRates": {
                "type": "array",
                "description": "Interest rates available for deposits",
                "items": {
                  "$ref": "#/components/schemas/BankingProductDepositRate"
                }
              },
              "lendingRates": {
                "type": "array",
                "description": "Interest rates charged against lending balances",
                "items": {
                  "$ref": "#/components/schemas/BankingProductLendingRate"
                }
              }
            }
          }
        ]
      },
      "BankingProductBundle": {
        "required": [
          "description",
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the bundle"
          },
          "description": {
            "type": "string",
            "description": "Description of the bundle"
          },
          "additionalInfo": {
            "type": "string",
            "description": "Display text providing more information on the bundle"
          },
          "additionalInfoUri": {
            "type": "string",
            "description": "Link to a web page with more information on the bundle criteria and benefits",
            "x-cds-type": "URIString"
          },
          "productIds": {
            "type": "array",
            "description": "Array of product IDs for products included in the bundle that are available via the product end points.  Note that this array is not intended to represent a comprehensive model of the products included in the bundle and some products available for the bundle may not be available via the product reference end points",
            "items": {
              "type": "string",
              "x-cds-type": "ASCIIString"
            }
          }
        }
      },
      "BankingProductFeature": {
        "required": [
          "featureType"
        ],
        "type": "object",
        "properties": {
          "featureType": {
            "type": "string",
            "description": "The type of feature described",
            "enum": [
              "CARD_ACCESS",
              "ADDITIONAL_CARDS",
              "UNLIMITED_TXNS",
              "FREE_TXNS",
              "FREE_TXNS_ALLOWANCE",
              "LOYALTY_PROGRAM",
              "OFFSET",
              "OVERDRAFT",
              "REDRAW",
              "INSURANCE",
              "BALANCE_TRANSFERS",
              "INTEREST_FREE",
              "INTEREST_FREE_TRANSFERS",
              "DIGITAL_WALLET",
              "DIGITAL_BANKING",
              "NPP_PAYID",
              "NPP_ENABLED",
              "DONATE_INTEREST",
              "BILL_PAYMENT",
              "COMPLEMENTARY_PRODUCT_DISCOUNTS",
              "BONUS_REWARDS",
              "NOTIFICATIONS",
              "FUNDS_AVAILABLE_AFTER",
              "OTHER"
            ]
          },
          "additionalValue": {
            "type": "string",
            "description": "Generic field containing additional information relevant to the [featureType](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*tocSproductfeaturetypedoc__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KANohWM7P$ ) specified. Whether mandatory or not is dependent on the value of the [featureType.](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*tocSproductfeaturetypedoc__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KANohWM7P$ )"
          },
          "additionalInfo": {
            "type": "string",
            "description": "Display text providing more information on the feature. Mandatory if the [feature type](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*tocSproductfeaturetypedoc__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KANohWM7P$ ) is set to OTHER"
          },
          "additionalInfoUri": {
            "type": "string",
            "description": "Link to a web page with more information on this feature",
            "x-cds-type": "URIString"
          }
        },
        "x-conditional": [
          "additionalValue",
          "additionalInfo"
        ]
      },
      "BankingProductConstraint": {
        "required": [
          "constraintType"
        ],
        "type": "object",
        "properties": {
          "constraintType": {
            "type": "string",
            "description": "The type of constraint described.  See the next section for an overview of valid values and their meaning",
            "enum": [
              "MIN_BALANCE",
              "MAX_BALANCE",
              "OPENING_BALANCE",
              "MAX_LIMIT",
              "MIN_LIMIT",
              "OTHER"
            ]
          },
          "additionalValue": {
            "type": "string",
            "description": "Generic field containing additional information relevant to the [constraintType](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*tocSproductconstrainttypedoc__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAN3kju5n$ ) specified.  Whether mandatory or not is dependent on the value of [constraintType](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*tocSproductconstrainttypedoc__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAN3kju5n$ )"
          },
          "additionalInfo": {
            "type": "string",
            "description": "Display text providing more information the constraint"
          },
          "additionalInfoUri": {
            "type": "string",
            "description": "Link to a web page with more information on the constraint",
            "x-cds-type": "URIString"
          }
        },
        "x-conditional": [
          "additionalValue"
        ]
      },
      "BankingProductConstraintV2": {
        "required": [
          "constraintType"
        ],
        "type": "object",
        "properties": {
          "constraintType": {
            "type": "string",
            "description": "The type of constraint described.  See the next section for an overview of valid values and their meaning",
            "enum": [
              "MIN_BALANCE",
              "MAX_BALANCE",
              "OPENING_BALANCE",
              "MAX_LIMIT",
              "MIN_LIMIT",
              "MIN_LVR",
              "MAX_LVR"
            ]
          },
          "additionalValue": {
            "type": "string",
            "description": "Generic field containing additional information relevant to the [constraintType](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*tocSproductconstrainttypedoc__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAN3kju5n$ ) specified.  Whether mandatory or not is dependent on the value of [constraintType](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*tocSproductconstrainttypedoc__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAN3kju5n$ )"
          },
          "additionalInfo": {
            "type": "string",
            "description": "Display text providing more information the constraint"
          },
          "additionalInfoUri": {
            "type": "string",
            "description": "Link to a web page with more information on the constraint",
            "x-cds-type": "URIString"
          }
        },
        "x-conditional": [
          "additionalValue"
        ]
      },
      "BankingProductEligibility": {
        "required": [
          "eligibilityType"
        ],
        "type": "object",
        "properties": {
          "eligibilityType": {
            "type": "string",
            "description": "The type of eligibility criteria described.  See the next section for an overview of valid values and their meaning",
            "enum": [
              "BUSINESS",
              "PENSION_RECIPIENT",
              "MIN_AGE",
              "MAX_AGE",
              "MIN_INCOME",
              "MIN_TURNOVER",
              "STAFF",
              "STUDENT",
              "EMPLOYMENT_STATUS",
              "RESIDENCY_STATUS",
              "NATURAL_PERSON",
              "OTHER"
            ]
          },
          "additionalValue": {
            "type": "string",
            "description": "Generic field containing additional information relevant to the [eligibilityType](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*tocSproducteligibilitytypedoc__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAB4SwQ9M$ ) specified. Whether mandatory or not is dependent on the value of [eligibilityType](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*tocSproducteligibilitytypedoc__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAB4SwQ9M$ )"
          },
          "additionalInfo": {
            "type": "string",
            "description": "Display text providing more information on the [eligibility](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*tocSproducteligibilitytypedoc__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAB4SwQ9M$ ) criteria. Mandatory if the field is set to OTHER"
          },
          "additionalInfoUri": {
            "type": "string",
            "description": "Link to a web page with more information on this eligibility criteria",
            "x-cds-type": "URIString"
          }
        },
        "x-conditional": [
          "additionalValue",
          "additionalInfo"
        ]
      },
      "BankingProductFee": {
        "required": [
          "feeType",
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the fee"
          },
          "feeType": {
            "type": "string",
            "description": "The type of fee",
            "enum": [
              "PERIODIC", "TRANSACTION", "WITHDRAWAL", "DEPOSIT", "PAYMENT", "PURCHASE", "EVENT", "UPFRONT", "EXIT", "CASH_ADVANCE", "DISHONOUR", "ENQUIRY", "LATE_PAYMENT", "OTHER", "UPFRONT_PER_PLAN", "VARIATION"
            ]
          },
          "feeMethodUType": {
            "type": "string",
            "description": "The U type of fee method",
            "enum": [
              "fixedAmount",
              "rateBased",
              "variable"
            ]
          },
          "fixedAmount": {
            "type": "object",
            "properties": {
              "amount": { "type": "string", "x-cds-type": "AmountString" }
            }
          },
          "rateBased": {
            "type": "object",
            "properties": {
              "rate": { "type": "string", "x-cds-type": "RateString" },
              "rateType": { "type": "string", "enum": ["BALANCE", "TRANSACTION", "ACCRUED"] },
              "accrualFrequency": { "type": "string" },
              "amountRange": {
                "type": "object",
                "properties": {
                  "feeMinimum": { "type": "string", "x-cds-type": "AmountString" },
                  "feeMaximum": { "type": "string", "x-cds-type": "AmountString" }
                }
              }
            }
          },
          "variable": {
            "type": "object",
            "properties": {
              "feeMinimum": { "type": "string", "x-cds-type": "AmountString" },
              "feeMaximum": { "type": "string", "x-cds-type": "AmountString" }
            }
          },
          "feeCap": { "type": "string", "x-cds-type": "AmountString" },
          "feeCapPeriod": { "type": "string" },
          "currency": { "type": "string", "default": "AUD" },
          "additionalValue": { "type": "string" },
          "additionalInfo": { "type": "string" },
          "additionalInfoUri": { "type": "string", "x-cds-type": "URIString" },
          "discounts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "description": { "type": "string" },
                "discountType": { "type": "string", "enum": ["BALANCE", "TRANSACTION", "PAYMENTS", "FEE_CAP"] },
                "discountMethodUType": { "type": "string", "enum": ["fixedAmount", "rateBased"] },
                "fixedAmount": {
                  "type": "object",
                  "properties": { "amount": { "type": "string" } }
                },
                "rateBased": {
                  "type": "object",
                  "properties": {
                    "rate": { "type": "string" },
                    "rateType": { "type": "string" },
                    "amountRange": {
                      "type": "object",
                      "properties": {
                        "discountMinimum": { "type": "string" },
                        "discountMaximum": { "type": "string" }
                      }
                    }
                  }
                },
                "eligibility": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "discountEligibilityType": { "type": "string", "enum": ["BUSINESS", "PENSIONER", "STUDENT", "STAFF", "OTHER"] },
                      "additionalValue": { "type": "string" },
                      "additionalInfo": { "type": "string" },
                      "additionalInfoUri": { "type": "string" }
                    }
                  }
                },
                "additionalValue": { "type": "string" },
                "additionalInfo": { "type": "string" },
                "additionalInfoUri": { "type": "string" }
              }
            }
          }
        }
      },
      "BankingProductDiscount": {
        "required": [
          "description",
          "discountType"
        ],
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Description of the discount"
          },
          "discountType": {
            "type": "string",
            "description": "The type of discount. See the next section for an overview of valid values and their meaning",
            "enum": [
              "BALANCE",
              "DEPOSITS",
              "PAYMENTS",
              "FEE_CAP",
              "ELIGIBILITY_ONLY"
            ]
          },
          "amount": {
            "type": "string",
            "description": "Value of the discount. When following properties include one of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory",
            "x-cds-type": "AmountString"
          },
          "balanceRate": {
            "type": "string",
            "description": "A discount rate calculated based on a proportion of the balance. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee",
            "x-cds-type": "RateString"
          },
          "transactionRate": {
            "type": "string",
            "description": "A discount rate calculated based on a proportion of a transaction. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory",
            "x-cds-type": "RateString"
          },
          "accruedRate": {
            "type": "string",
            "description": "A discount rate calculated based on a proportion of the calculated interest accrued on the account. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee",
            "x-cds-type": "RateString"
          },
          "feeRate": {
            "type": "string",
            "description": "A discount rate calculated based on a proportion of the fee to which this discount is attached. Note that the currency of the fee discount is expected to be the same as the currency of the fee itself. One of amount, balanceRate, transactionRate, accruedRate and feeRate is mandatory. Unless noted in additionalInfo, assumes the application and calculation frequency are the same as the corresponding fee",
            "x-cds-type": "RateString"
          },
          "additionalValue": {
            "type": "string",
            "description": "Generic field containing additional information relevant to the [discountType](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*tocSproductdiscounttypedoc__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAMIUXH38$ ) specified. Whether mandatory or not is dependent on the value of [discountType](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*tocSproductdiscounttypedoc__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAMIUXH38$ )"
          },
          "additionalInfo": {
            "type": "string",
            "description": "Display text providing more information on the discount"
          },
          "additionalInfoUri": {
            "type": "string",
            "description": "Link to a web page with more information on this discount",
            "x-cds-type": "URIString"
          },
          "eligibility": {
            "type": "array",
            "description": "Eligibility constraints that apply to this discount",
            "items": {
              "$ref": "#/components/schemas/BankingProductDiscountEligibility"
            }
          }
        },
        "x-conditional": [
          "balanceRate",
          "transactionRate",
          "accruedRate",
          "feeRate",
          "additionalValue",
          "amount"
        ]
      },
      "BankingProductDiscountEligibility": {
        "required": [
          "discountEligibilityType"
        ],
        "type": "object",
        "properties": {
          "discountEligibilityType": {
            "type": "string",
            "description": "The type of the specific eligibility constraint for a discount",
            "enum": [
              "BUSINESS",
              "PENSION_RECIPIENT",
              "MIN_AGE",
              "MAX_AGE",
              "MIN_INCOME",
              "MIN_TURNOVER",
              "STAFF",
              "STUDENT",
              "EMPLOYMENT_STATUS",
              "RESIDENCY_STATUS",
              "NATURAL_PERSON",
              "INTRODUCTORY",
              "OTHER"
            ]
          },
          "additionalValue": {
            "type": "string",
            "description": "Generic field containing additional information relevant to the [discountEligibilityType](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*tocSproductdiscounteligibilitydoc__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAOd-SjnS$ ) specified. Whether mandatory or not is dependent on the value of [discountEligibilityType](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*tocSproductdiscounteligibilitydoc__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAOd-SjnS$ )"
          },
          "additionalInfo": {
            "type": "string",
            "description": "Display text providing more information on this eligibility constraint"
          },
          "additionalInfoUri": {
            "type": "string",
            "description": "Link to a web page with more information on this eligibility constraint",
            "x-cds-type": "URIString"
          }
        },
        "x-conditional": [
          "additionalValue"
        ]
      },
      "BankingProductDepositRate": {
        "required": [
          "depositRateType",
          "rate"
        ],
        "type": "object",
        "properties": {
          "depositRateType": {
            "type": "string",
            "description": "The type of rate (base, bonus, etc).",
            "enum": [
              "FIXED",
              "BONUS",
              "BUNDLE_BONUS",
              "VARIABLE",
              "INTRODUCTORY",
              "FLOATING",
              "MARKET_LINKED"
            ]
          },
          "rate": {
            "type": "string",
            "description": "The rate to be applied",
            "x-cds-type": "RateString"
          },
          "calculationFrequency": {
            "type": "string",
            "description": "The period after which the rate is applied to the balance to calculate the amount due for the period. Calculation of the amount is often daily (as balances may change) but accumulated until the total amount is 'applied' to the account (see applicationFrequency). Formatted according to [ISO 8601 Durations](https://urldefense.com/v3/__https://en.wikipedia.org/wiki/ISO_8601*Durations__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KALMCofJm$ ) (excludes recurrence syntax)",
            "x-cds-type": "ExternalRef"
          },
          "applicationFrequency": {
            "type": "string",
            "description": "The period after which the calculated amount(s) (see calculationFrequency) are 'applied' (i.e. debited or credited) to the account. Formatted according to [ISO 8601 Durations](https://urldefense.com/v3/__https://en.wikipedia.org/wiki/ISO_8601*Durations__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KALMCofJm$ ) (excludes recurrence syntax)",
            "x-cds-type": "ExternalRef"
          },
          "applicationType": {
            "type": "string",
            "description": "The type of application for the rate",
            "enum": [
              "PERIODIC",
              "AT_MATURITY"
            ]
          },
          "additionalValue": {
            "type": "string",
            "description": "Generic field containing additional information relevant to the [depositRateType](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*tocSproductdepositratetypedoc__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KADm4m0-G$ ) specified. Whether mandatory or not is dependent on the value of [depositRateType](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*tocSproductdepositratetypedoc__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KADm4m0-G$ )"
          },
          "additionalInfo": {
            "type": "string",
            "description": "Display text providing more information on the rate"
          },
          "additionalInfoUri": {
            "type": "string",
            "description": "Link to a web page with more information on this rate",
            "x-cds-type": "URIString"
          },
          "applicabilityConditions": {
            "type": "array",
            "description": "Conditions that must be met for this rate to apply",
            "items": {
              "type": "object",
              "properties": {
                "additionalInfo": { "type": "string" },
                "additionalInfoUri": { "type": "string", "x-cds-type": "URIString" },
                "additionalValue": { "type": "string" },
                "rateApplicabilityType": {
                  "type": "string",
                  "enum": ["NEW_CUSTOMER", "RECURRING_DEPOSIT", "MIN_BALANCE", "MAX_BALANCE", "OTHER"]
                }
              }
            }
          },
          "tiers": {
            "type": "array",
            "description": "Rate tiers applicable for this rate",
            "items": {
              "$ref": "#/components/schemas/BankingProductRateTierV3"
            }
          }
        },
        "x-conditional": [
          "additionalValue"
        ]
      },

      "applicabilityConditions": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "additionalInfo": { "type": "string" },
            "additionalInfoUri": { "type": "string", "x-cds-type": "URIString" },
            "additionalValue": { "type": "string" },
            "rateApplicabilityType": { "type": "string" }
          }
        }
      },
      "BankingProductLendingRate": {
        "required": [
          "lendingRateType",
          "rate"
        ],
        "type": "object",
        "properties": {
          "lendingRateType": {
            "type": "string",
            "description": "The type of rate (fixed, variable, etc). See the next section for an overview of valid values and their meaning",
            "enum": [
              "FIXED", "VARIABLE", "INTRODUCTORY", "DISCOUNT", "PENALTY", "FLOATING", "MARKET_LINKED", "CASH_ADVANCE", "PURCHASE", "BUNDLE_DISCOUNT_FIXED", "BUNDLE_DISCOUNT_VARIABLE"
            ]
          },
          "rate": {
            "type": "string",
            "description": "The rate to be applied",
            "x-cds-type": "RateString"
          },
          "comparisonRate": {
            "type": "string",
            "description": "A comparison rate equivalent for this rate",
            "x-cds-type": "RateString"
          },
          "calculationFrequency": {
            "type": "string",
            "description": "The period after which the rate is applied to the balance to calculate the amount due for the period. Calculation of the amount is often daily (as balances may change) but accumulated until the total amount is 'applied' to the account (see applicationFrequency). Formatted according to [ISO 8601 Durations](https://urldefense.com/v3/__https://en.wikipedia.org/wiki/ISO_8601*Durations__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KALMCofJm$ ) (excludes recurrence syntax)",
            "x-cds-type": "ExternalRef"
          },
          "applicationFrequency": {
            "type": "string",
            "description": "The period after which the calculated amount(s) (see calculationFrequency) are 'applied' (i.e. debited or credited) to the account. Formatted according to [ISO 8601 Durations](https://urldefense.com/v3/__https://en.wikipedia.org/wiki/ISO_8601*Durations__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KALMCofJm$ ) (excludes recurrence syntax)",
            "x-cds-type": "ExternalRef"
          },
          "applicationType": {
            "type": "string",
            "description": "The type of application for the rate",
            "enum": [
              "PERIODIC",
              "AT_MATURITY"
            ]
          },
          "interestPaymentDue": {
            "type": "string",
            "description": "When loan payments are due to be paid within each period. The investment benefit of earlier payments affect the rate that can be offered",
            "enum": [
              "IN_ARREARS",
              "IN_ADVANCE"
            ]
          },
          "repaymentType": {
            "type": "string",
            "description": "Options in place for repayments. If absent, the lending rate is applicable to all repayment types",
            "enum": [
              "INTEREST_ONLY",
              "PRINCIPAL_AND_INTEREST"
            ]
          },
          "loanPurpose": {
            "type": "string",
            "description": "The reason for taking out the loan. If absent, the lending rate is applicable to all loan purposes",
            "enum": [
              "OWNER_OCCUPIED",
              "INVESTMENT"
            ]
          },
          "additionalValue": {
            "type": "string",
            "description": "Generic field containing additional information relevant to the [lendingRateType](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*tocSproductlendingratetypedoc__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAAjXElvz$ ) specified. Whether mandatory or not is dependent on the value of [lendingRateType](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*tocSproductlendingratetypedoc__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAAjXElvz$ )"
          },
          "additionalInfo": {
            "type": "string",
            "description": "Display text providing more information on the rate."
          },
          "additionalInfoUri": {
            "type": "string",
            "description": "Link to a web page with more information on this rate",
            "x-cds-type": "URIString"
          },
          "applicabilityConditions": {
            "type": "array",
            "description": "Conditions that must be met for this rate to apply",
            "items": {
              "type": "object",
              "properties": {
                "additionalInfo": { "type": "string" },
                "additionalInfoUri": { "type": "string", "x-cds-type": "URIString" },
                "additionalValue": { "type": "string" },
                "rateApplicabilityType": {
                  "type": "string",
                  "enum": [
                    "NEW_CUSTOMER",
                    "RECURRING_DEPOSIT",
                    "MIN_BALANCE",
                    "MAX_BALANCE",
                    "OTHER"
                  ]
                }
              }
            }
          },
          "tiers": {
            "type": "array",
            "description": "Rate tiers applicable for this rate",
            "items": {
              "$ref": "#/components/schemas/BankingProductRateTierV3"
            }
          }
        },
        "x-conditional": [
          "additionalValue"
        ]
      },
      "BankingProductRateTierV3": {
        "required": [
          "minimumValue",
          "name",
          "unitOfMeasure"
        ],
        "type": "object",
        "description": "Defines the criteria and conditions for which a rate applies",
        "properties": {
          "name": {
            "type": "string",
            "description": "A display name for the tier"
          },
          "unitOfMeasure": {
            "type": "string",
            "description": "The unit of measure that applies to the tierValueMinimum and tierValueMaximum values",
            "enum": [
              "DOLLAR",
              "PERCENT",
              "MONTH",
              "DAY"
            ]
          },
          "minimumValue": {
            "type": "string",
            "description": "The number of tierUnitOfMeasure units that form the lower bound of the tier. The tier should be inclusive of this value"
          },
          "maximumValue": {
            "type": "string",
            "description": "The number of tierUnitOfMeasure units that form the upper bound of the tier or band."
          },
          "rateApplicationMethod": {
            "type": "string",
            "description": "The method used to calculate the amount to be applied using one or more tiers.",
            "enum": [
              "WHOLE_BALANCE",
              "PER_TIER"
            ]
          },
          "applicabilityConditions": {
            "type": "array",
            "description": "Conditions that must be met for this tier to apply",
            "items": {
              "type": "object",
              "properties": {
                "additionalInfo": {
                  "type": "string",
                  "description": "Display text providing more information"
                },
                "additionalInfoUri": {
                  "type": "string",
                  "description": "Link to a web page with more information",
                  "x-cds-type": "URIString"
                },
                "additionalValue": {
                  "type": "string",
                  "description": "Value relevant to the condition"
                },
                "rateApplicabilityType": {
                  "type": "string",
                  "description": "The type of applicability condition",
                  "enum": [
                    "NEW_CUSTOMER",
                    "RECURRING_DEPOSIT",
                    "MIN_BALANCE",
                    "MAX_BALANCE",
                    "OTHER"
                  ]
                }
              }
            }
          },
          "additionalInfo": {
            "type": "string",
            "description": "Display text providing more information on the rate tier."
          },
          "additionalInfoUri": {
            "type": "string",
            "description": "Link to a web page with more information on this rate tier",
            "x-cds-type": "URIString"
          }
        }
      },
      "BankingProductRateCondition": {
        "type": "object",
        "properties": {
          "additionalInfo": {
            "type": "string",
            "description": "Display text providing more information on the condition"
          },
          "additionalInfoUri": {
            "type": "string",
            "description": "Link to a web page with more information on this condition",
            "x-cds-type": "URIString"
          }
        },
        "description": "Defines a condition for the applicability of a tiered rate"
      },
      "ResponseErrorList": {
        "required": [
          "errors"
        ],
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponseErrorList_errors"
            }
          }
        }
      },
      "ResponseErrorList_errors": {
        "required": [
          "code",
          "detail",
          "title"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "title": {
            "type": "string",
            "description": "Error title"
          },
          "detail": {
            "type": "string",
            "description": "Error details"
          },
          "meta": {
            "type": "object",
            "properties": {},
            "description": "Optional additional data for specific error types"
          }
        }
      },
      "Links": {
        "required": [
          "self"
        ],
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "description": "Fully qualified link that generated the current response document",
            "x-cds-type": "URIString"
          }
        }
      },
      "Meta": {
        "type": "object"
      },
      "LinksPaginated": {
        "required": [
          "self"
        ],
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "description": "Fully qualified link that generated the current response document",
            "x-cds-type": "URIString"
          },
          "first": {
            "type": "string",
            "description": "URI to the first page of this set. Mandatory if this response is not the first page",
            "x-cds-type": "URIString"
          },
          "prev": {
            "type": "string",
            "description": "URI to the previous page of this set. Mandatory if this response is not the first page",
            "x-cds-type": "URIString"
          },
          "next": {
            "type": "string",
            "description": "URI to the next page of this set. Mandatory if this response is not the last page",
            "x-cds-type": "URIString"
          },
          "last": {
            "type": "string",
            "description": "URI to the last page of this set. Mandatory if this response is not the last page",
            "x-cds-type": "URIString"
          }
        },
        "x-conditional": [
          "prev",
          "next",
          "first",
          "last"
        ]
      },
      "MetaPaginated": {
        "required": [
          "totalPages",
          "totalRecords"
        ],
        "type": "object",
        "properties": {
          "totalRecords": {
            "type": "integer",
            "description": "The total number of records in the full set. See [pagination](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*pagination__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KADXoEMpQ$ ).",
            "x-cds-type": "NaturalNumber"
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages in the full set. See [pagination](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*pagination__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KADXoEMpQ$ ).",
            "x-cds-type": "NaturalNumber"
          }
        }
      },
      "BankingProductCategory": {
        "type": "string",
        "description": "The category to which a product or account belongs. See [here](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*product-categories__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KACYanF6g$ ) for more details",
        "enum": [
          "TRANS_AND_SAVINGS_ACCOUNTS",
          "TERM_DEPOSITS",
          "TRAVEL_CARDS",
          "REGULATED_TRUST_ACCOUNTS",
          "RESIDENTIAL_MORTGAGES",
          "CRED_AND_CHRG_CARDS",
          "PERS_LOANS",
          "MARGIN_LOANS",
          "LEASES",
          "TRADE_FINANCE",
          "OVERDRAFTS",
          "BUSINESS_LOANS"
        ]
      }
    },
    "parameters": {
      "RequestHeader_x-v3": {
        "name": "x-v",
        "in": "header",
        "description": "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*request-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAEaeBCoC$ ) and [x-v](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*request-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAEaeBCoC$ ). If the value of [x-min-v](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*request-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAEaeBCoC$ ) is equal to or higher than the value of [x-v](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*request-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAEaeBCoC$ ) then the [x-min-v](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*request-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAEaeBCoC$ ) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*request-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAEaeBCoC$ )",
        "required": true,
        "schema": {
          "type": "string",
          "default": "3"
        }
      },
      "RequestHeader_x-v4": {
        "name": "x-v",
        "in": "header",
        "description": "Version of the API end point requested by the client. Must be set to a positive integer. The data holder should respond with the highest supported version between [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#request-headers) and [x-v](https://consumerdatastandardsaustralia.github.io/standards/#request-headers). If the value of [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#request-headers) is equal to or higher than the value of [x-v](https://consumerdatastandardsaustralia.github.io/standards/#request-headers) then the [x-min-v](https://consumerdatastandardsaustralia.github.io/standards/#request-headers) header should be treated as absent. If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable. See [HTTP Headers](https://consumerdatastandardsaustralia.github.io/standards/#request-headers)",
        "required": true,
        "schema": {
          "type": "string",
          "default": "4"
        }
      },
      "RequestHeader_x-min-v": {
        "name": "x-min-v",
        "in": "header",
        "description": "Minimum version of the API end point requested by the client. Must be set to a positive integer if provided. The data holder should respond with the highest supported version between [x-min-v](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*request-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAEaeBCoC$ ) and [x-v](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*request-headers__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAEaeBCoC$ ). If all versions requested are not supported then the data holder must respond with a 406 Not Acceptable.",
        "schema": {
          "type": "string"
        }
      },
      "RequestHeader_x-fapi-interaction-id": {
        "name": "x-fapi-interaction-id",
        "in": "header",
        "description": "An [RFC4122](https://urldefense.com/v3/__https://tools.ietf.org/html/rfc4122__;!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KAODVaXDp$ ) UUID used as a correlation id. If provided, the data holder must play back this value in the x-fapi-interaction-id response header. If not provided a [RFC4122] UUID value is required to be provided in the response header to track the interaction.",
        "schema": {
          "type": "string"
        }
      },
      "RequestHeader_x-fapi-auth-date": {
        "name": "x-fapi-auth-date",
        "in": "header",
        "description": "The time when the customer last logged in to the data recipient. Required for all resource calls (customer present and unattended). Not to be included for unauthenticated calls.",
        "schema": {
          "type": "string"
        }
      },
      "RequestHeader_x-fapi-customer-ip-address": {
        "name": "x-fapi-customer-ip-address",
        "in": "header",
        "description": "The customer's original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.",
        "schema": {
          "type": "string"
        }
      },
      "RequestHeader_x-cds-client-headers": {
        "name": "x-cds-client-headers",
        "in": "header",
        "description": "The customer's original standard http headers [Base64](https://urldefense.com/v3/__https://consumerdatastandardsaustralia.github.io/standards/*common-field-types__;Iw!!NJXWK16iIFCjY1RxFh8!wuUyIkLE_6EOEDj0DlpQqQYCOtGDRFgSIwaBoxMrvyBvPd-Sx0HkvyiUjf2BAfFMP9uD26z37_sauK7njr6KACeLW-KG$ ) encoded, including the original User Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls.  Not required for unattended or unauthenticated calls.",
        "schema": {
          "type": "string",
          "x-cds-type": "Base64"
        },
        "x-cds-type": "Base64"
      },
      "ParamAccountOpenStatus": {
        "name": "open-status",
        "in": "query",
        "description": "Used to filter results according to open/closed status. Values can be OPEN, CLOSED or ALL. If absent then ALL is assumed",
        "schema": {
          "type": "string",
          "default": "ALL",
          "enum": [
            "OPEN",
            "CLOSED",
            "ALL"
          ]
        }
      },
      "ParamProductCategory": {
        "name": "product-category",
        "in": "query",
        "description": "Used to filter results on the productCategory field applicable to accounts. Any one of the valid values for this field can be supplied. If absent then all products returned.",
        "schema": {
          "type": "string",
          "enum": [
            "TRANS_AND_SAVINGS_ACCOUNTS",
            "TERM_DEPOSITS",
            "TRAVEL_CARDS",
            "REGULATED_TRUST_ACCOUNTS",
            "RESIDENTIAL_MORTGAGES",
            "CRED_AND_CHRG_CARDS",
            "PERS_LOANS",
            "MARGIN_LOANS",
            "LEASES",
            "TRADE_FINANCE",
            "OVERDRAFTS",
            "BUSINESS_LOANS"
          ]
        }
      },
      "ParamAccountIsOwned": {
        "name": "is-owned",
        "in": "query",
        "description": "Filters accounts based on whether they are owned by the authorised customer.  True for owned accounts, false for unowned accounts and absent for all accounts",
        "schema": {
          "type": "boolean",
          "x-cds-type": "Boolean"
        },
        "x-cds-type": "Boolean"
      },
      "ParamPage": {
        "name": "page",
        "in": "query",
        "description": "Page of results to request (standard pagination)",
        "schema": {
          "type": "integer",
          "default": 1,
          "x-cds-type": "PositiveInteger"
        },
        "x-cds-type": "PositiveInteger"
      },
      "ParamPageSize": {
        "name": "page-size",
        "in": "query",
        "description": "Page size to request. Default is 25 (standard pagination)",
        "schema": {
          "type": "integer",
          "default": 25,
          "x-cds-type": "PositiveInteger"
        },
        "x-cds-type": "PositiveInteger"
      },
      "ParamTransactionNewestTime": {
        "name": "newest-time",
        "in": "query",
        "description": "Constrain the transaction history request to transactions with effective time at or before this date/time.  If absent defaults to today.  Format is aligned to DateTimeString common type",
        "schema": {
          "type": "string",
          "x-cds-type": "DateTimeString"
        },
        "x-cds-type": "DateTimeString"
      },
      "ParamTransactionOldestTime": {
        "name": "oldest-time",
        "in": "query",
        "description": "Constrain the transaction history request to transactions with effective time at or after this date/time. If absent defaults to newest-time minus 90 days.  Format is aligned to DateTimeString common type",
        "schema": {
          "type": "string",
          "x-cds-type": "DateTimeString"
        },
        "x-cds-type": "DateTimeString"
      },
      "ParamTransactionMinAmount": {
        "name": "min-amount",
        "in": "query",
        "description": "Filter transactions to only transactions with amounts higher or equal to than this amount",
        "schema": {
          "type": "string",
          "x-cds-type": "AmountString"
        },
        "x-cds-type": "AmountString"
      },
      "ParamTransactionMaxAmount": {
        "name": "max-amount",
        "in": "query",
        "description": "Filter transactions to only transactions with amounts less than or equal to than this amount",
        "schema": {
          "type": "string",
          "x-cds-type": "AmountString"
        },
        "x-cds-type": "AmountString"
      },
      "ParamTransactionText": {
        "name": "text",
        "in": "query",
        "description": "Filter transactions to only transactions where this string value is found as a substring of either the reference or description fields. Format is arbitrary ASCII string. This parameter is optionally implemented by data holders. If it is not implemented then a response should be provided as normal without text filtering applied and an additional boolean field named isQueryParamUnsupported should be included in the meta object and set to true (whether the text parameter is supplied or not)",
        "schema": {
          "type": "string"
        }
      }
    }
  },
  "x-original-swagger-version": "2.0"
}
